@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.color-container {
  @apply flex items-center justify-center px-4 py-4 rounded-full bg-gray-300 backdrop-blur
}

.size-btn-container {
  @apply flex items-center justify-center p-1 rounded-full bg-gray-300 backdrop-blur ml-3 gap-1
}

.size-btn {
  @apply w-10 h-10 text-sm flex justify-center items-center bg-white text-black rounded-full transition-all
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
  transform-origin: 50% 40%;
  animation: l25 1s infinite linear;
}
@keyframes l25 {
  100% {transform: rotate(1turn)}
}


.mini-mouse-scroll {
  animation: updown 2s infinite alternate;
}

@keyframes updown {
  0%, 100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(17.5px);
  }
}
